! vim: set filetype=xdefaults :
! ------------------------------------------------------------------------------
!  Colors
! ------------------------------------------------------------------------------

#define base00 #101010
#define base01 #E84F4F
#define base02 #B8D68C
#define base03 #E1AA5D
#define base04 #7DC1CF
#define base05 #9B64FB
#define base06 #6D878D
#define base07 #dddddd
#define base08 #404040
#define base09 #D23D3D
#define base0A #A0CF5D
#define base0B #F39D21
#define base0C #4E9FB1
#define base0D #8542FF
#define base0E #42717B
#define base0F base07

*foreground: #D7D0C7
*background: #151515

!black
*color0:     base00
*color8:     base08
!red
*color1:     base01
*color9:     base09
!green
*color2:     base02
*color10:    base0A
!yellow
*color3:     base03
*color11:    base0B
!blue
*color4:     base04
*color12:    base0C
!magenta
*color5:     base05
*color13:    base0E
!cyan
*color6:     base06
*color14:    base0F
!white
*color7:     base07
*color15:    base07

URxvt*borderColor:        #151515
URxvt*colorBD:            #ffffff
URxvt*cursorColor:        #ff8939
URxvt*cursorColor2:       #151515

Xft.dpi         : 106
Xft*hinting     : true
Xft*rgba        : rgb
Xft*autohint    : false
Xft*hintstyle   : hintslight
Xft*lcdfilter   : lcddefault
