! Special
! ------------------------------------------------------------------------------
*alpha: 1


! st
! ------------------------------------------------------------------------------
st.font:         Hack;style=Light;pixelsize=12;antialias=true


!  URxvt
! ------------------------------------------------------------------------------

URxvt.cursorBlink : 0
URxvt.font       :xft:BlexMono Nerd Font Mono:size=10:style=Medium
URxvt.italicFont :xft:BlexMono Nerd Font Mono:size=10:style=Italic
URxvt.boldFont   :xft:BlexMono Nerd Font Mono:size=10:style=Bold

URxvt.lineSpace           : 0
URxvt.letterSpace         : -1
URxvt.scrollBar           : false
URxvt.internalBorder      : 44
URxvt.cursorUnderline     : false
URxvt.geometry            : 70x35
URxvt.thickness           : 5
URxvt.titleBar            : false
URxvt.intensityStyles     : false


URxvt.perl-ext-common : default,matcher
URxvt.url-launcher    : firefox
URxvt.matcher.button  : 1

#include ".config/X/Xres.lovelace"
